@import url(https://fonts.googleapis.com/css?family=Dosis:300|Lato:300,400,600,700|Roboto+Condensed:300,700|Open+Sans+Condensed:300,600|Open+Sans:400,300,600,700|Maven+Pro:400,700);
@import url('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');
html {
	background-image: url(http://www.ultraimg.com/images/2UeGfhZ.jpg);
}

body {
	padding: 0px;
	margin: 0px;
	font-family: 'Open Sans';
	font-size: 14px;
}

#loading {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 100;
}

.page {
	position: absolute;
	width: 80%;
	height: 80%;
	left: 10%;
	top: 10%;
	background-color: rgba(255, 255, 255, 0.7);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

.pageHeader {
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: #54b9cd;
	color: White;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 5px 20px;
	vertical-align: middle;
}
.pageHeader .title {
	width: 40%;
	float: left;
	line-height: 40px;
	font-size: 1.5em;
	font-weight: 700;
}
.pageHeader .userPanel {
	width: 40%;
	float: right;
}
.pageHeader .userPanel i {
	float: right;
	line-height: 40px;
	padding-right: 10px;
}
.pageHeader .userPanel .username {
	float: right;
	line-height: 40px;
	padding: 0px 20px;
	font-weight: 600;
	font-size: 1em;
}
.pageHeader .userPanel img {
	float: right;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.main {
	position: relative;
	width: 100%;
	height: 100%;
	clear: both;
	background-color: white;
}

.main .nav {
	width: 200px;
	height: 100%;
	float: left;
	background-color: rgba(227, 234, 235, 0.8);
}

.searchbox {
	width: 100%;
	height: 100%;
	border: 1px solid #aaa;
}
.searchbox i {
	background-color: inherit;
	border-right: 1px solid #aaa;
	height: 100%;
	height: 100%;
	color: #aaa;
	font-size: 1.3em;
	padding: 8px 10px;
	cursor: pointer;
}

.searchbox input {
	display: inlin-block;
	width: 80%;
	background-color: White;
	font-family: 'Lato';
	border-radius: 5px;
	border: none;
	outline: none;
	font-size: 16px;
}
.main .nav .menu {
	width: 100%;
	margin: 15px;
	color: #555;
}
.main .nav .menu .title {
	font-weight: 700;
	font-size: 1em;
	text-transform: uppercase;
}
.main .nav .menu ul {
	padding-left: 0px;
}
.main .nav .menu ul li {
	cursor: pointer;
	list-style: none;
	margin: 5px 0px;
	padding: 5px 0px;
	font-weight: 600;
	margin-right: 30px;
	padding-left: 10px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	transition: 0.25s all;
}
.main .nav .menu ul li.active {
	color: #79bc46;
}
.main .nav .menu ul li:hover {
	background-color: #999;
}
.main .nav .menu ul li i {
	font-size: 1.4em;
	margin-right: 10px;
}
.main .view {
	position: relative;
	margin-left: 200px;
}
.main .view .viewHeader {
	width: 100%;
	height: 70px;
	line-height: 70px;
	padding: 20px 20px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-bottom: 1px solid #e0e0e0;
}
.main .view .viewHeader .title {
	float: left;
	font-size: 1.4em;
	font-weight: 400;
	padding: 0px;
	color: #aaa;
	margin-top: -18px;
}
.main .view .viewHeader .functions {
	float: right;
}
.main .view .viewHeader .functions .button {
	float: right;
	height: 30px;
	line-height: 30px;
	background-color: #aaa;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	margin: 0px 5px;
	padding: 0px 20px;
	cursor: pointer;
	color: White;
	font-weight: 700;
}
.main .view .viewHeader .functions .button.active {
	background-color: #54b9cd;
}
.main .view .viewHeader .functions .button.inverz {
	background-color: inherit;
	border: 1px solid #aaa;
	width: 10px;
	color: #aaa;
	font-size: 1.3em;
	padding-left: 10px;
	padding-right: 16px;
}
.main .view .content {
	position: absolute;
	left: 0px;
	top: 70px;
	right: 0px;
	bottom: 0px;
	padding: 10px;
}
.main .view .content .list .title {
	width: 100%;
	padding: 10px;
	text-transform: uppercase;
	font-weight: 700;
	color: #54b9cd;
}

.clear {
	clear: both;
}

table,
thead,
tbody {
	border: 1px solid #000;
}

table {
	width: 100%;
	margin-top: 5px;
}

th {
	padding: 5px;
	text-align: center;
	border-right: 1px solid #000;
}

td {
	padding: 5px;
	border-top: 1px solid #000;
	border-right: 1px solid #000;
}

td img {
	width: 100px;
	height: 50px;
}

td button {
	border: 1px solid rgb(181, 181, 181);
}

#exampleModalLongTitle {
	font-weight: 700;
}

.modal-body label {
	font-weight: normal;
	font-size: 16px;
}

.modal-body input {
	margin-bottom: 28px;
}
